@import url("https://fonts.googleapis.com/css?family=Teko"); /*Font styles for the different parts of the page. Search documentation about how optimize font loading times. */
/* CSS reset */

    /* CSS reset
      /* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
      License: none (public domain) */

      html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      }
      /* HTML5 display-role reset for older browsers */
      article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
      display: block;
      }
      body {
      line-height: 1;
      }
      ol, ul {
      list-style: none;
      }
      blockquote, q {
      quotes: none;
      }
      blockquote:before, blockquote:after,
      q:before, q:after {
      content: '';
      content: none;
      }
      table {
      border-collapse: collapse;
      border-spacing: 0;
      }

	/* ----- Iterations styles ----- */

				 /* Search documentation to optimize loading times */

				body {
				background: black;
				color: white;
				margin: 0;
				}

				/* Styles for the first article */
				.wolf {
					background: black url("../media/wolf%20-%20breathing%20is%20not%20so%20important,%20living%20it%20is%20-%20background.png") 50% no-repeat;
					margin: 0;
					height: 100vh; /* 1vh = 1/100 of the viewport/screen heigth. This unit is used to guarantee the element will cover the total amount of screen height available. */
					background-size: cover;
				}

				.motto-cont {
					font-family: Teko, sans-serif;
					font-size: 5vh;
					position: absolute; /* This property is used to move the container div element from the top-left corner of its article parent element and center it in the middle of the screen in a responsive manner. */
					text-align: center;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				.motto-cont img {
					display: block;
					transform: scale(1.75);
					position: relative; /* The position relative is necessary for the z-index property to take effect, as it only applies to positioned elements. However the value of relative produces the desired scaled effect, otherwise, an absolute position will move the element relative to its parent element instead of relative to the image original position. */
					z-index: -1;
				}

				.motto01-h2 {
					z-index: 2;
				}

				.motto02-h1 {
					z-index: 3;
				}
